{% extends "cities/base.html" %}
    {% block content %}


        <div class="container">
            <div class="row mb-3">

                <div class="col-sm-4 themed-grid-col">
                    <h2 class="display-6">City you selected : </h2>
                    <p>{{context.name}}</p>

                    <a href="{% url 'first_test' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back</a>


                </div>

            </div>
        </div>


    {% endblock content %}