{% extends "cities/base.html" %}
    {% block content %}
    <div CLASS="container">
            <div class="row">
                <div class="row mb-3">

                    <div class="col-md-8 mx-auto my-2">
                        <h2 class="display-6">Cities: </h2>
                    </div>
                    <div class="col-sm-4 themed-grid-col">
                        {% for object in context %}
                        <p><a class="col-sm-2 text-dark" href="{% url 'detail_view' object.pk %}">{{object.name}}</a></p>
                    </div>

                </div>
            </div>

        {% endfor %}


<!--        <form>-->
<!--            <label>Name</label>-->
<!--        </form>-->
        <div class="row">
                <div style="margin-top: 40px;" class="col-sm-2 themed-grid-col">
                    <form action="" method="POST">
                        {% csrf_token %}
                      <div class="col-xs-1">
        <!--                <div class="col">-->
        <!--                  <input type="text" class="form-control" placeholder="City Name">-->
        <!--                </div>-->
                          {{form.as_p}}
                      </div>
                        <div class="col">
                        <input class="btn btn-primary" type="submit" value="Submit" style="margin-top: 10px">
                        </div>
                    </form>
                </div>
        </div>
    </div>
    {% endblock content %}

