{% extends "cities/base.html" %}
    {% block content %}

        {% for object in context %}
            <div class="container">
                <div class="row mb-3">

                    <div class="col-sm-4 themed-grid-col">
                        <h2 class="display-6">Cities: </h2>
                        <p><a class="p-2 text-dark" href="{% url 'detail_view' object.id %}">{{object.name}}</a></p>
                    </div>

                </div>

        {% endfor %}
        </div>
    {% endblock content %}